<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>HRM Resume Tracking</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

.w3-sidebar {
	z-index: 3;
	width: 250px;
	top: 43px;
	bottom: 0;
	height: inherit;
}

#myFooter {
	position: fixed;
	bottom: 0px;
	width: 100%;
	opacity: 60%;
}

#submitbtn {
	margin: 15px;
}
</style>
<body>

	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-theme w3-top w3-left-align w3-large">
			<a
				class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
				href="javascript:void(0)" onclick="w3_open()"><i
				class="fa fa-bars"></i></a> <a href="/home"
				class="w3-bar-item w3-button w3-theme-l1">HRM</a> <a
				href="/erp/about"
				class="w3-bar-item w3-button w3-hide-small w3-hover-white">About
				Company</a>
		</div>
	</div>

	<!-- Sidebar -->
	<nav
		class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left"
		id="mySidebar">
		<a href="javascript:void(0)" onclick="w3_close()"
			class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large"
			title="Close Menu"> <i class="fa fa-remove"></i>
		</a>
		<h4 class="w3-bar-item">
			<b>Menu</b>
		</h4>
		<a class="w3-bar-item w3-button w3-hover-black" href="/home">Home</a>
		<a class="w3-bar-item w3-button w3-hover-black" href="/hrm/empdetails">Employee
			Details</a> <a class="w3-bar-item w3-button w3-hover-black"
			href="/hrm/registration">Employee Registration</a> <a
			class="w3-bar-item w3-button w3-hover-black" href="/hrm/resume">Resume
			Tracking</a> <a class="w3-bar-item w3-button w3-hover-black"
			href="/hrm/performance">Performance</a> <a
			class="w3-bar-item w3-button w3-hover-black" href="/hrm/payroll">Payroll</a>
		<a class="w3-bar-item w3-button w3-hover-black" href="/login"
			sec:authorize="!isAuthenticated()">Login</a>
		<form id="submitbtn" class="form-inline my-2 my-lg-0"
			th:action="@{/logout}" method="post"
			sec:authorize="isAuthenticated()">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
		</form>
	</nav>

	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()"
		style="cursor: pointer" title="close side menu" id="myOverlay"></div>

	<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
	<div class="w3-main" style="margin-left: 250px">

		<!-- Resume Tracking Section -->
		<div class="w3-modal-content w3-animate-zoom" style="padding: 32px"
			id="empResume">
			<form th:action="@{/hrm/resume}" th:object="${findEmpForm}"
				method="post">
				<div class="w3-container w3-white w3-center">
					<h2 class="w3-wide">Resume Tracking</h2>
					<p class="w3-right">
						<input id="empId" name="empId" class="" type="number"
							placeholder="Search by Employee ID" required> <input
							type="submit" name="search">
					</p>
				</div>
			</form>

			<!-- The Grid -->
			<div class="w3-row-padding" th:each="emp : ${empObj}">
				<!-- Left Column -->
				<div class="w3-third">
					<div class="w3-white w3-text-grey w3-card-4">
						<div class="w3-display-container">
							<div class="w3-display-bottomleft w3-container w3-text-black">
								<h2 th:text="${emp.getFullName()}"></h2>
							</div>
						</div>
						<div class="w3-container">
							<p>
								<i
									class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><span th:text="${emp.getDesignation()}"></span>
							</p>
							<p>
								<i
									class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><span th:text="${emp.getAddress()}"></span>
							</p>
							<p>
								<i
									class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><span th:text="${emp.getEmail()}"></span>
							</p>
							<p>
								<i
									class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i> +880 <span th:text="${emp.getPhone()}"></span>
							</p>
							<hr>

							<p class="w3-large">
								<b><i
									class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
							</p>
							<p th:text="${emp.getSkills()}"></p>
							<br>

							<p class="w3-large w3-text-theme">
								<b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
							</p>
							<p>English</p>
						</div>
					</div>
					<!-- End Left Column -->
				</div>

				<!-- Right Column -->
				<div class="w3-twothird">
					<div class="w3-container w3-card w3-white w3-margin-bottom">
						<h4 class="w3-text-grey w3-padding-16">
							<i
								class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Employee
							Details
						</h4>
						<div class="w3-container">
							<hr>
							<h6 class="w3-opacity">
								<b>Gender:</b> <span th:text="${emp.getGender()}"></span>
							</h6>
							<h6 class="w3-opacity">
								<b>Marital Status:</b> <span th:text="${emp.getMaritalStatus()}"></span>
							</h6>
							<h6 class="w3-opacity">
								<b>Date of Birth:</b> <span th:text="${emp.getDateOfBirth()}"></span>
							</h6>
							<h6 class="w3-opacity">
								<b>Date of Joining:</b> <span th:text="${emp.getDateOfJoining()}"></span>
							</h6>
							<h6 class="w3-opacity">
								<b>Nationality:</b> <span th:text="${emp.getNationality()}"></span>
							</h6>
							<h6 class="w3-opacity">
								<b>National ID:</b> <span th:text="${emp.getNationalId()}"></span>
							</h6>
							<h6 class="w3-opacity">
								<b>Graduation Varsity:</b> <span th:text="${emp.getGradVarsity()}"></span>
							</h6>
							<h6 class="w3-opacity">
								<b>Graduation Year:</b> <span th:text="${emp.getGradYear()}"></span>
							</h6>
						</div>
					</div>
					<!-- End Right Column -->
				</div>

				<!-- End Grid -->
			</div>

		</div>

		<footer id="myFooter">
			<div class="w3-container w3-theme-l1">
				<p>
					Powered by <a href="https://github.com/tanmoy069" target="_blank">git.tanmoy</a>
				</p>
			</div>
		</footer>

		<!-- END MAIN -->
	</div>
</body>
</html>